.hero {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  &__imagem {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__conteudo {
    width: 100%;
    max-width: 590px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 0;
    padding: 0 20px;
    h2 {
      color: #fff;
      text-transform: unset;
    }
    @media screen and ( max-width: 768px ) {
      text-align: center;
    }
  }
}