p, li {
  font-size: 18px;
  line-height: 20px;
  @media screen and (min-width) {
    font-size: 27px;
    line-height: 35px;
  }
}
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: $corLaranja;
}
h1, .txt-h1 {
  font-size: 27px;
  line-height: 30px;
  @media screen and ( min-width: 768px ) {
    font-size: 59px;
    line-height: 73px;
  }
}
h2, .txt-h2 {
  font-size: 18px;
  line-height: 20px;
  @media screen and (min-width: 768px) {
    font-size: 27px;
    line-height: 35px;
  }
}