@import "../../assets/scss/variaveis";
.perguntas-frequentes {
  width: 100%;
  background: rgb(34, 34, 34);
  padding-bottom: 50px;
  &__titulo {
    padding: 40px 20px;
  }
}
.accordion .card {
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  border-radius: 0;
  @media screen and (min-width: 768px) {
    font-size: 33px;
  }
}
.card-body {
  background: #fff;
  color: $corPreto;
}