@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');
@import './assets/scss/variaveis';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  vertical-align: middle;
  border-style: none;
}
@import './assets/scss/grid.scss';
@import './assets/scss/botoes';
@import './assets/scss/textos';
@import './assets/scss/forms';