@import "../../assets/scss/variaveis";

.container-aula-experimental {
  background: $corPreto;
  text-align: center;
  min-height: 100vh;
  &__conteudo {
    padding: 100px 0 40px 0;
    @media screen and (min-width: 768px) {
      padding: 170px 0 40px 0;
    }
    h2,
    h3 {
      font-family: "Roboto", sans-serif;
      color: #fff;
      text-transform: inherit;
    }
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}

input:focus {
  outline: none;
  border: 0;
}
.botao-aula-esperimental {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 0;
  }
  a {
    font-size: 26px;
    margin: 0 10px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-top: 20px;
    }
  }
}
